@font-face {
  font-family: "PT Sans Caption";
  src: url("../fonts/PTSans-Caption.eot");
  src: url("../fonts/PTSans-Caption.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans-Caption.woff2") format("woff2"), url("../fonts/PTSans-Caption.woff") format("woff"), url("../fonts/PTSans-Caption.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  font-size: 24px;
  font-family: "PT Sans Caption", sans-serif;
  letter-spacing: 2px;
  --animate-duration: 2s;
  --animate-delay: 2s;
  --animation-timing-function: linear;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, img {
  display: block;
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.container {
  position: relative;
  max-width: 1245px;
  margin: 0 auto;
}
.container__frame {
  max-width: 1245px;
  overflow: hidden;
}
.container__last-projects {
  position: relative;
  max-width: 1245px;
  margin: 0 auto;
}

.title {
  font-family: "Parangon 530C";
  color: white;
  text-align: center;
}
.title_h1 {
  line-height: 72px;
}

@media (max-width: 800px) {
  .animate__animated {
    -webkit-animation: none;
            animation: none;
  }
}

.menu {
  background: #ffffff;
  z-index: 10;
  border-bottom: 1px solid gray;
}
.menu_fixed {
  -webkit-animation: fixedMenu 1s forwards;
          animation: fixedMenu 1s forwards;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
@-webkit-keyframes fixedMenu {
  0% {
    height: 0;
  }
  50% {
    height: 120px;
  }
  100% {
    height: 99px;
  }
}
@keyframes fixedMenu {
  0% {
    height: 0;
  }
  50% {
    height: 120px;
  }
  100% {
    height: 99px;
  }
}
.menu-block {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-height: 100px;
  padding: 30px 0;
}
.menu__item {
  white-space: nowrap;
  font-size: 1.25rem;
  margin-right: 40px;
}
.menu__item:first-child {
  margin-left: 20px;
  color: #f6ae48;
}
.menu__item:first-child:hover {
  color: #303263;
}
.menu__item:last-child {
  margin-right: 0px;
}
.menu__item_passive:hover {
  color: #303263;
}
.menu__item-button {
  width: 50px;
  height: 50px;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu__item-button span, .menu__item-button::before, .menu__item-button::after {
  content: "";
  width: 60%;
  height: 3px;
  background: #000000;
  position: absolute;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.menu__item-button::before {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}
.menu__item-button::after {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}
.menu__item-button:hover {
  background: rgba(48, 50, 99, 0.5882352941);
}
.menu__item-button:hover .button-click {
  -webkit-transform: scale(100%);
          transform: scale(100%);
}

.button-click {
  position: absolute;
  top: -25px;
  left: 50px;
  width: 173px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  -webkit-box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.5411764706);
          box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.5411764706);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.button-click__item:hover {
  color: #303263;
}

@media (max-width: 950px) {
  .menu-block {
    font-size: 20px;
  }
}
@media (max-width: 750px) {
  .menu-block {
    font-size: 16px;
  }
}
@media (max-width: 935px) {
  .menu-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (max-width: 930px) {
  .menu__item:first-child {
    margin-right: 20px;
    margin-left: 20px;
  }
}
@media (max-width: 400px) {
  .menu__item:first-child {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 18px;
    font-weight: bold;
  }
}
@media (max-width: 930px) {
  .menu__item_passive {
    display: none;
  }
}
@media (min-width: 930px) {
  .menu__item-button {
    display: none;
  }
}
@media (max-width: 650px) {
  .menu__item-button img {
    width: 21px;
  }
}

.hero {
  background: silver;
  background-image: linear-gradient(129deg, rgba(48, 50, 99, 0.6730042359) 35%, rgb(48, 50, 99) 100%), url(../img/hero-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 810px;
}
@media (max-width: 750px) {
  .hero-block {
    font-size: 20px;
  }
}
@media (max-width: 530px) {
  .hero-block {
    font-size: 16px;
  }
}

.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero-content__title {
  max-height: 150px;
  overflow: hidden;
  font-family: "Parangon 530C";
  padding: 0 20px;
  margin-bottom: 25px;
}
@media (max-width: 750px) {
  .hero-content__title {
    margin-bottom: 0px;
    line-height: 40px;
  }
}
.hero-content__descr {
  overflow: hidden;
  padding: 0 20px;
  max-height: 210px;
  max-width: 835px;
  text-align: center;
  margin-bottom: 55px;
  color: white;
  line-height: 36px;
}
@media (max-width: 750px) {
  .hero-content__descr {
    margin-bottom: 20px;
  }
}

.achivments-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.achivments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  padding: 20px;
  width: 262px;
  height: 160px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  position: relative;
  margin-right: 60px;
}
.achivments:last-child {
  margin-right: 0;
}
.achivments::before, .achivments::after {
  content: "";
  position: absolute;
  height: 2px;
  background: white;
  width: calc((100% - 50px) / 2);
  top: 0;
}
.achivments::before {
  left: 0;
}
.achivments::after {
  right: 0;
}
.achivments__icon {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 28px;
}
.achivments__value {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5px;
}
.achivments__descr {
  max-width: 218px;
  max-height: 21px;
  overflow: hidden;
  text-align: center;
  font-size: 0.75rem;
}

@media (max-width: 750px) {
  .hero-block {
    font-size: 20px;
  }
}
@media (max-width: 530px) {
  .hero-block {
    font-size: 16px;
  }
}

@media (max-width: 750px) {
  .hero-content__title {
    margin-bottom: 0px;
    line-height: 40px;
  }
}
@media (max-width: 750px) {
  .hero-content__descr {
    margin-bottom: 20px;
  }
}

@media (max-width: 750px) {
  .achivments-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 550px) {
  .achivments-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 950px) {
  .achivments {
    width: 200px;
  }
  .achivments:last-child {
    margin-right: 0;
  }
}
@media (max-width: 750px) {
  .achivments {
    width: 250px;
    height: 130px;
    margin-right: 0px;
  }
  .achivments:first-child {
    margin-right: 20px;
  }
  .achivments:last-child {
    margin-top: 20px;
  }
}
@media (max-width: 550px) {
  .achivments {
    height: 120px;
  }
  .achivments:first-child {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 410px) {
  .achivments {
    height: 100px;
  }
}
@media (max-width: 410px) {
  .achivments__value {
    font-size: 1rem;
  }
}
@media (max-width: 410px) {
  .achivments__descr {
    font-size: 0.65rem;
  }
}

.studios {
  background: white;
}

.specializations {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 525px;
  position: relative;
}
@media (max-width: 1000px) {
  .specializations {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.specializations__title {
  color: #000000;
  font-size: 48px;
  font-weight: bold;
}
@media (max-width: 750px) {
  .specializations__title {
    font-size: 24px;
    padding-bottom: 20px;
  }
}
.specializations__text {
  max-width: 765px;
  font-size: 20px;
}
@media (max-width: 1000px) {
  .specializations__text {
    text-align: left;
  }
}
@media (max-width: 750px) {
  .specializations__text {
    font-size: 16px;
  }
}
.specializations__bg-text {
  font-size: 16rem;
  letter-spacing: 17px;
  font-family: tahoma;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(193, 193, 193, 0.2);
  position: absolute;
  top: 50%;
  left: 57%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (max-width: 950px) {
  .specializations__bg-text {
    font-size: 10rem;
  }
}
@media (max-width: 550px) {
  .specializations__bg-text {
    font-size: 6rem;
  }
}

.special {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 585px;
}
@media (max-width: 1060px) {
  .special {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
  }
}
.special__service {
  cursor: pointer;
  overflow: hidden;
  padding: 20px;
  width: 400px;
  height: 345px;
}
.special__service:hover {
  background: #f6ae48;
  color: white;
}
@media (max-width: 1060px) {
  .special__service:first-child {
    padding: 20px;
  }
}
.special__service__img {
  height: 45px;
  margin-bottom: 10px;
}
.special__service__img_last {
  fill: #00b9e7;
  font-weight: bold;
  height: 45px;
  width: 30px;
}
.special__service__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 1;
}
.special__service__text {
  font-size: 15px;
  letter-spacing: 0.1px;
  line-height: 1.6;
}
@media (max-width: 400px) {
  .special__service__text {
    line-height: 1.1;
  }
}
.special__service_community {
  color: #000000;
  width: 400px;
  height: 345px;
}
.special__service_community:hover {
  background: #f6ae48;
  color: white;
}
@media (max-width: 370px) {
  .special__service_community {
    height: auto;
  }
}
.special__service__bottom {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 132px;
  height: 37px;
  border: 2px solid white;
}
.special__service__bottom p {
  font-size: 18px;
  letter-spacing: 0;
}

.button-block {
  display: none;
  margin-top: 20px;
}
.button-block__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 132px;
  height: 37px;
  border: 2px solid white;
}
.button-block__price p {
  font-size: 18px;
  letter-spacing: 0;
}

.special__service:hover .button-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: flex;
}

.credo {
  background-image: linear-gradient(129deg, rgba(48, 50, 99, 0.6730042359) 35%, rgb(48, 50, 99) 100%), url(../img/credo-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.credo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 566px;
}
@media (max-width: 410px) {
  .credo-block {
    height: auto;
    padding: 20px 0;
  }
}
.credo-block__title {
  font-size: 50px;
  font-weight: bold;
  padding: 0 20px;
  padding-bottom: 60px;
  line-height: 48px;
}
@media (max-width: 751px) {
  .credo-block__title {
    font-size: 40px;
    padding: 20px;
  }
}
@media (max-width: 550px) {
  .credo-block__title {
    font-size: 32px;
  }
}
.credo-block__descr {
  overflow: hidden;
  padding: 0 20px;
  color: #ffffff;
  font-size: 24px;
  max-width: 1166px;
  text-align: center;
  line-height: 36px;
  letter-spacing: 3.5px;
}
@media (max-width: 751px) {
  .credo-block__descr {
    font-size: 20px;
  }
}
@media (max-width: 550px) {
  .credo-block__descr {
    font-size: 16px;
    padding-bottom: 20px;
    line-height: 20px;
  }
}
@media (max-width: 410px) {
  .credo-block__descr {
    letter-spacing: 1px;
  }
}

.developing {
  background: #ffffff;
}

.developing-block {
  position: relative;
  height: 1300px;
}

.frame {
  overflow: hidden;
  position: absolute;
  top: -46px;
  left: -200px;
  width: 666px;
  height: 527px;
  background: #f6ae48;
}
@media (max-width: 1245px) {
  .frame {
    width: calc(340px + 326 * (100vw - 320px) / 925);
    height: calc(220px + 307 * (100vw - 320px) / 925);
    left: calc(-44px + -156 * (100vw - 320px) / 925);
    top: calc(-20px + -26 * (100vw - 320px) / 925);
  }
}
.frame__name {
  font-size: 50px;
  padding-top: 85px;
  padding-left: 80px;
  letter-spacing: 5px;
}
@media (max-width: 1245px) {
  .frame__name {
    font-size: calc(30px + 20 * (100vw - 320px) / 925);
  }
}
@media (max-width: 1245px) {
  .frame__name {
    padding-left: calc(0px + 80 * (100vw - 320px) / 925);
  }
}
.frame__img_first {
  position: absolute;
  top: 10px;
  left: -100px;
}
.frame__img_second {
  position: absolute;
  top: -35px;
  right: -70px;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.choise {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 210px;
  padding-left: 20px;
  padding-right: 50px;
}
@media (max-width: 1170px) {
  .choise {
    padding-top: 170px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 730px) {
  .choise {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.choise-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20px;
  width: 363px;
  height: 315px;
}
.choise-item:nth-child(1) {
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(14, 15, 18, 0.5764705882))), url(../img/choise1.png);
  background-image: linear-gradient(to right top, rgba(14, 15, 18, 0.5764705882)), url(../img/choise1.png);
}
@media (max-width: 770px) {
  .choise-item:nth-child(1) {
    margin-bottom: 20px;
  }
}
.choise-item:nth-child(2) {
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(14, 15, 18, 0.5764705882))), url(../img/choise2.png);
  background-image: linear-gradient(to right top, rgba(14, 15, 18, 0.5764705882)), url(../img/choise2.png);
}
.choise-item:nth-child(3) {
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(14, 15, 18, 0.5764705882))), url(../img/choise3.png);
  background-image: linear-gradient(to right top, rgba(14, 15, 18, 0.5764705882)), url(../img/choise3.png);
  margin-right: 0;
}
@media (max-width: 1027px) {
  .choise-item:nth-child(3) {
    margin-top: 20px;
  }
}
@media (max-width: 1170px) {
  .choise-item {
    width: 300px;
    height: 215px;
  }
}
@media (max-width: 770px) {
  .choise-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 360px) {
  .choise-item {
    padding-right: 0;
    width: 270px;
    height: 215px;
  }
}
.choise-item__lending {
  height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 262px;
  color: #ffffff;
  font-size: 50px;
  line-height: 48.2px;
}
.choise-item__lending span {
  border-bottom: 2px solid #ffffff;
}
@media (max-width: 1170px) {
  .choise-item__lending {
    letter-spacing: 0;
    white-space: nowrap;
    font-weight: bold;
    font-size: 25px;
    line-height: 29.2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.button-choise {
  padding-top: 45px;
  width: 280px;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (max-width: 360px) {
  .button-choise {
    width: 260px;
    padding-top: 30px;
  }
}
.button-choise__price_blue {
  width: 200px;
  height: 56px;
  border: 2px solid #00b9e7;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.button-choise__price_yellow {
  width: 200px;
  height: 56px;
  border: 2px solid #ffcb00;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.button-choise__price_green {
  width: 200px;
  height: 56px;
  border: 2px solid #66bf0d;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (max-width: 1170px) {
  .button-choise__price {
    width: 200px;
    height: 50px;
  }
}

.seo-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 955px;
  height: 465px;
  margin-top: 176px;
  margin-left: 20px;
}
@media (max-width: 900px) {
  .seo-search {
    margin-top: 90px;
  }
}
@media (max-width: 760px) {
  .seo-search {
    height: 300px;
  }
}
@media (max-width: 460px) {
  .seo-search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 370px) {
  .seo-search {
    margin-top: 50px;
  }
}

.seo-text {
  max-width: 568px;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.seo-text__title {
  font-weight: bold;
  font-size: 36px;
  z-index: 10;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1000px) {
  .seo-text__title {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (max-width: 770px) {
  .seo-text__title {
    font-size: 26px;
  }
}
@media (max-width: 600px) {
  .seo-text__title {
    font-size: 20px;
    white-space: nowrap;
  }
}
.seo-text__back-title {
  font-family: "PT Sans Caption", sans-serif;
  position: absolute;
  font-size: 80px;
  font-weight: bold;
  color: #cfcfcf;
  white-space: nowrap;
  z-index: -1;
  line-height: 1;
}
@media (max-width: 830px) {
  .seo-text__back-title {
    font-size: 70px;
  }
}
@media (max-width: 770px) {
  .seo-text__back-title {
    font-size: 45px;
  }
}
@media (max-width: 600px) {
  .seo-text__back-title {
    font-size: 35px;
  }
}
.seo-text__text {
  font-size: 24px;
  line-height: 48px;
}
@media (max-width: 770px) {
  .seo-text__text {
    line-height: 25px;
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  .seo-text__text {
    line-height: 20px;
    font-size: 16px;
  }
}
@media (max-width: 460px) {
  .seo-text__text {
    margin-top: 10px;
  }
}
@media (max-width: 370px) {
  .seo-text__text {
    line-height: 16px;
  }
}

.seo-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20px;
}
@media (max-width: 770px) {
  .seo-img img {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 460px) {
  .seo-img {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 10px;
  }
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.last-projects {
  height: 120px;
  background: #303263;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (max-width: 1245px) {
  .last-projects {
    height: calc(60px + 60 * (100vw - 320px) / 925);
  }
}
.last-projects__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  white-space: nowrap;
  position: relative;
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  z-index: 3;
}
@media (max-width: 1245px) {
  .last-projects__text {
    font-size: calc(20px + 16 * (100vw - 320px) / 925);
  }
}
.last-projects__under-text {
  line-height: 1;
  font-size: 96px;
  font-weight: bold;
  color: rgba(193, 193, 193, 0.4980392157);
  position: absolute;
  z-index: -1;
  letter-spacing: 15px;
  white-space: nowrap;
  font-family: "PT Sans Caption", sans-serif;
}
@media (max-width: 1245px) {
  .last-projects__under-text {
    font-size: calc(30px + 66 * (100vw - 320px) / 925);
    letter-spacing: calc(7px + 8 * (100vw - 320px) / 925);
  }
}

.projects-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.projects-block__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 25%;
}
.projects-block__img:nth-child(1), .projects-block__img:nth-child(2) {
  width: 50%;
}
@media (max-width: 930px) {
  .projects-block__img {
    width: 50%;
  }
  .projects-block__img:nth-child(1), .projects-block__img:nth-child(2) {
    width: 100%;
  }
}

.last-projects__more {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #6a6b8e;
  color: #ffffff;
  white-space: nowrap;
  width: 240px;
  height: 65px;
  border-radius: 10px;
  border: none;
}
@media (max-width: 1245px) {
  .last-projects__more {
    width: calc(160px + 80 * (100vw - 320px) / 925);
    height: calc(30px + 35 * (100vw - 320px) / 925);
    font-size: calc(20px + 4 * (100vw - 320px) / 925);
  }
}
.last-projects__more:hover {
  background: rgba(106, 107, 142, 0.5215686275);
}

.adaptives {
  overflow: hidden;
}

.adaptives-block {
  height: 765px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (max-width: 1270px) {
  .adaptives-block {
    height: calc(410px + 355 * (100vw - 320px) / 925);
  }
}

.adaptate-info {
  position: relative;
  max-width: 540px;
  height: 396px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.adaptate-info__descr {
  font-size: 24px;
  line-height: 48px;
  letter-spacing: 0;
}
@media (max-width: 1245px) {
  .adaptate-info__descr {
    font-size: calc(16px + 8 * (100vw - 320px) / 925);
  }
}
@media (max-width: 1245px) {
  .adaptate-info__descr {
    line-height: calc(16px + 32 * (100vw - 320px) / 925);
  }
}

.adaptate-heading__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 36px;
  font-weight: bold;
  line-height: 72px;
  position: relative;
}
@media (max-width: 1245px) {
  .adaptate-heading__title {
    font-size: calc(20px + 16 * (100vw - 320px) / 925);
  }
}
.adaptate-heading__under-text {
  font-family: "PT Sans Caption", sans-serif;
  color: #cfcfcf;
  max-width: 438px;
  font-size: 78px;
  font-weight: bold;
  letter-spacing: 8px;
  position: absolute;
  left: -50px;
  z-index: -1;
}
@media (max-width: 1245px) {
  .adaptate-heading__under-text {
    font-size: calc(35px + 43 * (100vw - 320px) / 925);
  }
}

.adaptate-img {
  position: absolute;
  left: 733px;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (max-width: 1245px) {
  .adaptate-img {
    left: calc(0px + 733 * (100vw - 320px) / 925);
  }
}
.adaptate-img__device {
  padding-bottom: 20px;
}
@media (max-width: 1245px) {
  .adaptate-img__device {
    padding-bottom: calc(5px + 15 * (100vw - 320px) / 925);
  }
}
.adaptate-img__device_iphone {
  width: 112px;
  height: 227px;
  margin-right: 55px;
}
@media (max-width: 1245px) {
  .adaptate-img__device_iphone {
    width: calc(55px + 57 * (100vw - 320px) / 925);
    height: calc(123px + 104 * (100vw - 320px) / 925);
    margin-right: calc(20px + 35 * (100vw - 320px) / 925);
  }
}
.adaptate-img__device_ipad {
  width: 242px;
  height: 344px;
  margin-right: 23px;
}
@media (max-width: 1245px) {
  .adaptate-img__device_ipad {
    width: calc(120px + 122 * (100vw - 320px) / 925);
    height: calc(150px + 194 * (100vw - 320px) / 925);
    margin-right: calc(10px + 13 * (100vw - 320px) / 925);
  }
}
.adaptate-img__device_macbook {
  width: 750px;
  height: 436px;
}
@media (max-width: 1245px) {
  .adaptate-img__device_macbook {
    width: calc(325px + 425 * (100vw - 320px) / 925);
    height: calc(215px + 221 * (100vw - 320px) / 925);
  }
}

.tradein {
  background-image: linear-gradient(129deg, rgba(48, 50, 99, 0.6730042359) 35%, rgb(48, 50, 99) 100%), url(../img/tradeinbackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
.tradein-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.tradein-block__title {
  padding: 55px 0;
  max-height: 190px;
  font-size: 48px;
  line-height: 72px;
  color: #ffffff;
}
@media (max-width: 1245px) {
  .tradein-block__title {
    font-size: calc(24px + 24 * (100vw - 320px) / 925);
    padding-top: calc(20px + 35 * (100vw - 320px) / 925);
    padding-bottom: calc(20px + 35 * (100vw - 320px) / 925);
  }
}

.our-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  margin: 0 20px;
}
@media (max-width: 1245px) {
  .our-service {
    margin-top: calc(10px + 10 * (100vw - 320px) / 925);
  }
}
@media (max-width: 1000px) {
  .our-service {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1000px) {
  .service-sequence {
    margin-bottom: 10px;
  }
  .service-sequence:last-child {
    margin-bottom: 0;
  }
}
.service-sequence__descr {
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 30px;
}
@media (max-width: 1245px) {
  .service-sequence__descr {
    font-size: calc(16px + 2 * (100vw - 320px) / 925);
    line-height: calc(20px + 10 * (100vw - 320px) / 925);
  }
}

.sequence {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.sequence__img {
  width: 70px;
  height: 50px;
}
.sequence__title {
  overflow: hidden;
  padding-left: 20px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 30px;
  line-height: 50px;
}
@media (max-width: 1245px) {
  .sequence__title {
    font-size: calc(20px + 10 * (100vw - 320px) / 925);
  }
}

.button-rating {
  cursor: pointer;
  border: 0;
  margin-top: 15px;
  margin-bottom: 45px;
  width: 330px;
  height: 67px;
  border-radius: 10px;
  background: #f6ae48;
}
@media (max-width: 1245px) {
  .button-rating {
    width: calc(250px + 80 * (100vw - 320px) / 925);
  }
}
.button-rating__descr {
  color: #ffffff;
  font-size: 24px;
}
.button-rating:hover {
  background: #fb9301;
}

.careful {
  height: 760px;
}

.careful-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.care {
  max-width: 594px;
  margin-top: 163px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.care__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #000000;
  position: relative;
  z-index: 10;
  font-size: 36px;
  font-family: "Parangon 530C";
  white-space: nowrap;
}
.care__under-text {
  font-size: 72px;
  color: #cfcfcf;
  position: absolute;
  top: -22px;
  letter-spacing: 7px;
  font-family: "PT Sans Caption", sans-serif;
  font-weight: bold;
  white-space: nowrap;
  line-height: 1;
  z-index: -1;
}
.care__descr {
  margin-top: 31px;
  font-size: 24px;
  line-height: 42px;
  letter-spacing: 0;
}

.support__img {
  margin-top: 100px;
  width: 560px;
  height: 460px;
}

.communication {
  background-image: linear-gradient(129deg, rgba(48, 50, 99, 0.6730042359) 35%, rgb(48, 50, 99) 100%), url(../img/backcommuniti.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
.communication-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 567px;
}

.reverse {
  width: 360px;
  height: 325px;
  color: #ffffff;
}
.reverse__title {
  white-space: nowrap;
  font-family: "Parangon 530C";
  font-size: 30px;
  line-height: 1;
  padding-bottom: 50px;
}
.reverse__text {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0;
}

.reverse-forms {
  color: #ffffff;
  padding-right: 20px;
}

.main-forms {
  border: 5px solid #ffffff;
  width: 615px;
  height: 267px;
  font-size: 18px;
}

.header-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.header-form__name {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-right: 5px solid #ffffff;
  border-bottom: 5px solid #ffffff;
}
.header-form__name input {
  margin-left: 10px;
  width: 50%;
  border: none;
  background: rgba(104, 108, 140, 0);
  color: white;
  font-size: 18px;
  outline: none;
}
.header-form__surname {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 5px solid #ffffff;
}
.header-form__surname input {
  margin-left: 10px;
  width: 40%;
  border: none;
  background: rgba(104, 108, 140, 0);
  color: white;
  font-size: 18px;
  outline: none;
}

.hero-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero-form__email {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 51px;
  border-bottom: 6px solid #ffffff;
}
.hero-form__email input {
  margin-left: 10px;
  width: 83%;
  border: none;
  background: rgba(104, 108, 140, 0);
  color: white;
  font-size: 18px;
  outline: none;
}
.hero-form__message {
  padding-left: 10px;
  width: 100%;
}
.hero-form__message textarea {
  height: 140px;
  width: 100%;
  resize: none;
  border: none;
  background: rgba(104, 108, 140, 0);
  color: white;
  font-size: 18px;
  outline: none;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 58px;
}
.footer-form__text {
  letter-spacing: 0;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  padding-top: 14px;
  padding-left: 24px;
  line-height: 1;
}
.footer-form__button {
  border-radius: 10px;
  border: solid #f6ae48;
  background: #f6ae48;
  height: 45px;
  margin-top: 14px;
  width: 144px;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}
.footer-form__button:hover {
  background: #dc8c1b;
}

.footer {
  height: 110px;
  background: #f6ae48;
}/*# sourceMappingURL=style.css.map */