@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap");
:root {
  font-size: 24px;
  font-family: "PT Sans Caption", sans-serif;
  letter-spacing: 2px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, img {
  display: block;
}

li {
  list-style: none;
}

.container {
  max-width: 1245px;
  margin: 0 auto;
}
.container__menu {
  max-width: 1245px;
  margin: 0 auto;
}

.title {
  color: white;
  text-align: center;
}
.title_h1 {
  line-height: 72px;
}

.hero {
  background: silver;
  background-image: linear-gradient(129deg, rgba(48, 50, 99, 0.6730042359) 35%, rgb(48, 50, 99) 100%), url(../img/hero-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 810px;
}
@media (max-width: 750px) {
  .hero-block {
    font-size: 20px;
  }
}
@media (max-width: 530px) {
  .hero-block {
    font-size: 16px;
  }
}

.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero-content__title {
  margin-bottom: 25px;
}
@media (max-width: 750px) {
  .hero-content__title {
    margin-bottom: 0px;
    line-height: 50px;
  }
}
.hero-content__descr {
  max-width: 835px;
  text-align: center;
  margin-bottom: 55px;
  color: white;
  line-height: 36px;
}
@media (max-width: 750px) {
  .hero-content__descr {
    margin-bottom: 20px;
  }
}

.achivments-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (max-width: 750px) {
  .achivments-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 550px) {
  .achivments-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.achivments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  padding: 20px;
  width: 262px;
  height: 160px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  position: relative;
  margin-right: 60px;
}
.achivments:last-child {
  margin-right: 0;
}
@media (max-width: 950px) {
  .achivments {
    width: 200px;
  }
  .achivments:last-child {
    margin-right: 0;
  }
}
@media (max-width: 750px) {
  .achivments {
    width: 250px;
    height: 130px;
    margin-right: 0px;
  }
  .achivments:first-child {
    margin-right: 20px;
  }
  .achivments:last-child {
    margin-top: 20px;
  }
}
@media (max-width: 550px) {
  .achivments {
    height: 120px;
  }
  .achivments:first-child {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 410px) {
  .achivments {
    height: 100px;
  }
}
.achivments::before, .achivments::after {
  content: "";
  position: absolute;
  height: 2px;
  background: white;
  width: calc((100% - 50px) / 2);
  top: 0;
}
.achivments::before {
  left: 0;
}
.achivments::after {
  right: 0;
}
.achivments__icon {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 28px;
}
.achivments__value {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5px;
}
@media (max-width: 410px) {
  .achivments__value {
    font-size: 1rem;
  }
}
.achivments__descr {
  text-align: center;
  font-size: 0.75rem;
}
@media (max-width: 410px) {
  .achivments__descr {
    font-size: 0.65rem;
  }
}

.menu-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100px;
}
@media (max-width: 950px) {
  .menu-block {
    font-size: 20px;
  }
}
@media (max-width: 750px) {
  .menu-block {
    font-size: 16px;
  }
}
@media (max-width: 650px) {
  .menu-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.menu__item {
  margin-right: 40px;
}
.menu__item:first-child {
  color: #f6ae48;
}
@media (max-width: 650px) {
  .menu__item:first-child {
    margin-right: 20px;
    margin-left: 20px;
  }
}
.menu__item:last-child {
  margin-right: 0;
}
@media (max-width: 650px) {
  .menu__item_passive {
    display: none;
  }
}
@media (min-width: 650px) {
  .menu__item-button {
    display: none;
  }
}
@media (max-width: 650px) {
  .menu__item-button img {
    width: 21px;
  }
}

.studios {
  background: white;
  display: none;
}

.specializations {
  height: 525px;
  position: relative;
}
.specializations__img {
  position: absolute;
  top: 0;
}/*# sourceMappingURL=style.css.map */