:root {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, img {
  display: block;
}

li {
  list-style: none;
}

.container {
  max-width: 1245px;
  margin: 0 auto;
}

.title {
  color: white;
  text-align: center;
}
.title_h1 {
  line-height: 72px;
}

.hero {
  background: silver;
  background-image: linear-gradient(129deg, rgba(48, 50, 99, 0.6730042359) 35%, rgb(48, 50, 99) 100%), url(../img/hero-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 810px;
  padding: 70px 75px 0;
}

.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero-content__title {
  margin-bottom: 25px;
}
.hero-content__descr {
  max-width: 835px;
  text-align: center;
  margin-bottom: 55px;
  color: white;
  line-height: 36px;
}

.achivments-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.achivments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  padding: 20px;
  width: 255px;
  height: 160px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  position: relative;
  margin-right: 60px;
}
.achivments:last-child {
  margin-right: 0;
}
.achivments::before, .achivments::after {
  content: "";
  position: absolute;
  height: 2px;
  background: white;
  width: calc((100% - 50px) / 2);
  top: 0;
}
.achivments::before {
  left: 0;
}
.achivments::after {
  right: 0;
}
.achivments__icon {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 28px;
}
.achivments__value {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5px;
}
.achivments__descr {
  font-size: 0.75rem;
}/*# sourceMappingURL=style.css.map */