@font-face {
    font-family: "PT Sans Caption";
    src: url('PTSans-Caption.eot');
    src: url('PTSans-Caption.eot?#iefix') format('embedded-opentype'),
        url('PTSans-Caption.woff2') format('woff2'),
        url('PTSans-Caption.woff') format('woff'),
        url('PTSans-Caption.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Parangon 530C';
    src: url('../fonts/Parangon530C.eot');
    src: url('../fonts/Parangon530C.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Parangon530C.woff2') format('woff2'),
        url('../fonts/Parangon530C.woff') format('woff'),
        url('../fonts/Parangon530C.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    font-size: 24px;
    font-family: "PT Sans Caption", sans-serif;
    letter-spacing: 2px;
    --animate-duration: 2s;
    --animate-delay: 2s;
    --animation-timing-function: linear;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, img {
    display: block;
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.container {
    position: relative;
    max-width: 1245px;
    margin: 0 auto;
    &__frame {
        max-width: 1245px;
        overflow: hidden;
    }
    &__last-projects {
        position: relative;
        max-width: 1245px;
        margin: 0 auto;
    }
}

.title {
    font-family: 'Parangon 530C';
    color: white;
    text-align: center;
    &_h1 {
        line-height: 72px;
    }
}

.animate__animated {
    @media (max-width: 800px) {
        animation: none;
    }
}