:root {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, img {
    display: block;
}

li {
    list-style: none;
}

.container {
    max-width: 1245px;
    margin: 0 auto;
}

.title {
    color: white;
    text-align: center;
    &_h1 {
        line-height: 72px;
    }
}