
//Media
$bp-laptop: 950px;
$bp-tablet: 750px;
$bp-menuOff: 930px;
$bp-tablet2: 550px;
$bp-phone: 410px;

//Hero-block
$achivIconWidth: 28px;
$ColorTitleHero: #ffffff;
$ColorDescrHero: #ffffff;
$AchivmentsBorderColor: #ffffff;
$AchivmentsColorText: #ffffff;

//studios
$BackgroundStudiosBlock: #ffffff;
$TitleColorStudios: #000000;
$TextColorStudios: #000000;
$SpecialColorTitleText: black;
$st-laptop: 1060px;
$st-laptop2: 820px;
$st-tablet: 750px;

//Credo
$ColorTitleCredo: #ffffff;
$ColorDescrCredo: #ffffff;
$cr-tablet: 751px;

//Developing
$ColorTitleDevelopingFrame: #ffffff;
$ColorTitleChoise: #ffffff;
$ColorBorderBottomTitleChoise: #ffffff;
$ColorPriceChoise: #ffffff;
$ColorTitleTextSeoSearch: #000000;
$ColorBackTitleWords: #cfcfcf7d;

//Projects
$BackgroundLastProject: #303263;
$ColorTitleProjects: #ffffff;
$ColorUnderTitle: #cfcfcf4f;
$BorderColorInProjects: #303263;
$ButtonBackgroundMoreLastProj: #6a6b8e;

//Adaptate 
$TitleandTextColorHeading: #000000;

//TradeIn
$TitleColorTradeIn: white;
$TitleandDescrColorSequance: #ffffff;
$RatingButtonBackground: #f6ae48;

//Careful
$TitleandDescrColorCare: #000000;

//Comunication 
$TitleandDescrColorComunicate: #ffffff;
$FormColorComunicate: #ffffff;
$FormBorderColorComunicate: #ffffff;
$TextFormColor: #ffffff;