$fa-font-path: "../web-fonts";

//Media
$bp-laptop: 950px;
$bp-tablet: 750px;
$bp-menuOff: 930px;
$bp-tablet2: 550px;
$bp-phone: 410px;

//studios
$st-laptop: 1060px;
$st-laptop2: 820px;
$st-tablet: 750px;

//Credo
$CredoColordescr: #ffffff;
$cr-tablet: 751px;