.careful {
    overflow: hidden;
}

.careful-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 140px;
    padding-bottom: 140px;
    @media (max-width: 1245px) {
        padding-top: calc(30px + (140 - 30) * ((100vw - 320px) / (1245 - 320)));
        padding-bottom: calc(30px + (140 - 30) * ((100vw - 320px) / (1245 - 320)));
    }
    @media (max-width: 1200px) {
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
}

.care {
    max-width: 594px;
    @include flex($jc: space-around, $ai: flex-start, $fd: column);
    &__descr {
        color: $TitleandDescrColorCare;
        margin-top: 30px;
        font-size: 24px;
        line-height: 48px;
        letter-spacing: 0;
        @media (max-width: 1245px) {
            font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1245 - 320)));
            line-height: calc(20px + (48 - 20) * ((100vw - 320px) / (1245 - 320)));
            margin-top: 20px;
        }
    }
}

.care-title {
    &__heading {
        @include flex($jc: center, $ai: center, $fd: row);
        color: $TitleandDescrColorCare;
        position: relative;
        z-index: 10;
        font-size: 36px;
        font-weight: bold;
        white-space: nowrap;
        @media (max-width: 1245px) {
            font-size: calc(20px + (36 - 20) * ((100vw - 320px) / (1245 - 320)));
        }
    }
    &__under-text {
        font-size: 78px;
        color: $ColorBackTitleWords;
        position: absolute;
        letter-spacing: 7px;
        font-weight: bold;
        white-space: nowrap;
        line-height: 1;
        z-index: -1;
        @media (max-width: 1245px) {
            font-size: calc(35px + (78 - 35) * ((100vw - 320px) / (1245 - 320)));
        }
    }
}
.support-examp {
    display: flex;
    align-items: flex-end;
    @media (max-width: 1245px) {
        left: calc(0px + (645 - 0) * ((100vw - 320px) / (1245 - 320)));
    }
    &__img {
        width: 560px;
        height: 460px;
        @media (max-width: 1245px) {
            width: calc(320px + (560 - 320) * ((100vw - 320px) / (1245 - 320)));
            height: calc(240px + (460 - 240) * ((100vw - 320px) / (1245 - 320)));
        }
    }
}