.adaptives {
    max-height: 765px;
    &-block {
        height: 765px;
    }
}

.adaptives-block {
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}

.adaptate-info {
    max-width: 540px;
    height: 396px;
    @include flex($jc: center, $ai: flex-start, $fd: column);
    &__title {
        @include flex($jc: flex-start, $ai: center, $fd: row);
        font-family: 'Parangon 530C';
        font-size: 36px;
        line-height: 72px;
        position: relative;
    }
    &__under-text {
        font-family: "PT Sans Caption", sans-serif;
        color: #cfcfcf;
        max-width: 438px;
        font-size: 78px;
        font-weight: bold;
        letter-spacing: 8px;
        position: absolute;
        left: -50px;
        z-index: -1;
    }
    &__descr {
        font-size: 24px;
        line-height: 48px;
        letter-spacing: 0;
    }
}
