.menu {
    background: #ffffff;
    z-index: 10;
    border-bottom: 1px solid gray;
    &_fixed {
        animation: fixedMenu 1s forwards;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }
    @keyframes fixedMenu {
        0% {
            height: 0;
        }
        
        50% {
            height: 120px;
        }

        100% {
            height: 99px;
        }
    }
    &-block {
        overflow: hidden;
        @include flex($jc:flex-end, $ai:center, $fd:row);
        max-height: 100px;
        padding: 30px 0;
    }
    &__item {
        white-space: nowrap;
        font-size: 1.250rem;
        margin-right: 40px;
        &:first-child {
            margin-left: 20px;
            color: #f6ae48;
            &:hover {
                color: #303263;
            }
        }
        &:last-child {
            margin-right: 0px;
        }
        &_passive {
            &:hover {
                color: #303263;
            }
        }
        &-button {
            width: 50px;
            height: 50px;
            position: relative;
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;
            & span,
            &::before,
            &::after {
                content: "";
                width: 60%;
                height: 3px;
                background: #000000;
                position: absolute;
                transition: transform .3s;
            }

            &::before {
                transform: translateY(-8px);
            }

            &::after {
                transform: translateY(8px);
            }
            &:hover {
                background: #30326396;
            }
            &:hover .button-click {
                transform: scale(100%);
            }
        }
    }
}

.button-click {
    position: absolute;
    top: -25px;
    left: 50px;
    width: 173px;
    height: 100px;
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 2px 3px 3px 3px #0000008a;
    align-items: center;
    justify-content: space-evenly;
    transform: scale(0);
    &__item:hover {
        color: #303263
    }
}