.careful {
    height: 760px;
}

.careful-block {
    display: flex;
    justify-content: space-between;
}

.care {
    position: relative;
    max-width: 594px;
    margin-top: 163px;
    &__under-text {
        font-size: 72px;
        color: #cfcfcf;
        position: absolute;
        top: -25px;
        left: -35px;
    }
    &__title {
        position: relative;
        z-index: 10;
        font-size: 36px;
        font-weight: bold;
    }
    &__descr {
        margin-top: 40px;
        font-size: 24px;
        line-height: 42px;
        letter-spacing: 0;
    }
}

.support {
    &__img {
        margin-top: 100px;
        width: 560px;
        height: 460px;
    }
}