.studios {
    background: $BackgroundStudiosBlock;
}
.specializations {
    padding-top: 140px;
    padding-bottom: 140px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    @media (max-width: 1245px) {
        padding-top: calc(30px + (140 - 30) * ((100vw - 320px) / (1245 - 320)));
        padding-bottom: calc(30px + (185 - 30) * ((100vw - 320px) / (1245 - 320)));
    }
    @media (max-width: 1000px) {
        @include flex($jc: center, $ai: flex-start, $fd: column)
    }
    &__title {
        max-width: 174px;
        overflow: hidden;
        max-height: 350px;
        color: $TitleColorStudios;
        font-size: 48px;
        font-weight: bold;
        @media (max-width: 1000px) {
            margin-bottom: 20px;
        }
        @media (max-width: $st-tablet) {
            font-size: 24px;
        }
    }
    &__text {
        color: $TextColorStudios;
        max-width: 765px;
        max-height: 365px;
        overflow: hidden;
        font-size: 20px;
        @media (max-width: 1000px) {
            text-align: left;
        }
        @media (max-width: $st-tablet) {
            font-size: 16px;
            line-height: 20px;
        }
    }
    &__bg-text {
        font-size: 16rem;
        letter-spacing: 17px;
        font-family: tahoma;
        font-weight: bold;
        text-transform: uppercase;
        color: rgba(193,193,193,0.2);
        position: absolute;
        top: 50%;
        left: 57%;
        transform: translate(-50%, -50%);
        @media (max-width: 950px) {
            font-size: 10rem;
        }
        @media (max-width: $bp-tablet2) {
            font-size: 6rem;
            left: 50%;
        }
    }
}

.special {
    padding-bottom: 140px;
    position: relative;
    background: white;
    display: flex;
    justify-content: space-between;
    @media (max-width: 1245px) {
        padding-bottom: calc(30px + (240 - 30) * ((100vw - 320px) / (1245 - 320)));
    }
        @media (max-width: $st-laptop) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        height: auto;
    }
    &-service {
        color: $SpecialColorTitleText;
        cursor: pointer;
        overflow: hidden;
        padding: 20px;
        width: 400px;
        height: 380px;
        display: grid;
        grid-template-rows: 17% 10% 60% auto;
        @media (max-width: 1245px) {
            height: calc(360px + (380 - 360) * ((100vw - 320px) / (1245 - 320)));;
        }
        @media (max-width: 819px) {
            width: calc(320px + (800 - 320) * ((100vw - 320px) / (1245 - 320)));;
        }
        &:hover {
            background: #f6ae48;
            color: white;
            & .special-service__img {
                fill: white;
            }
            }
        &__img {
            fill: #00b9e7;
            width: 35px;
            height: 45px;
            &_last {
                font-weight: bold;
                width: 45px;
            }
        }
        &__title {
            max-width: 164px;
            overflow: hidden;
            display: flex;
            justify-content: flex-start;
            font-size: 20px;
            line-height: 1;
        }
        &__text {
            max-height: 192px;
            overflow: hidden;
            font-size: 15px;
            letter-spacing: 0.1px;
            line-height: 1.6;
            @media (max-width: 400px) {
                line-height: 1.1;
            }
        }
        &_community {
            &:hover {
                background: #f6ae48;
                color: white;
            }
        }
    }
}


.button-block {
    display: none;
    &__price {
        @include flex;
        width: 132px;
        height: 37px;
        border: 2px solid white;
        & p {
            font-size: 16px;
            letter-spacing: 0;
        }
    }
}

.special-service:hover .button-block{
    @include flex($jc: space-between,$ai: center,$fd: row);
    display: flex;
}