.choise {
    cursor: pointer;
    column-gap: 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 210px;
    padding-left: 20px;
    padding-right: 20px;
    @media(max-width: 1245px) {
        padding-top: calc(125px + (210 - 125) * ((100vw - 320px) / (1245 - 320)));
    }
    @media (max-width: 1170px) {
        flex-wrap: wrap;
        justify-content: center;
    }
    @media (max-width: 500px) {
        padding-right: 0;
        padding-left: 0;  
    }
    &-item {
        padding-top: 55px;
        padding-bottom: 55px;
        padding-left: 50px;
        padding-right: 50px;
        @media (max-width: 852px) {
            width: 80%;
        }
        @media (max-width: 500px) {
            padding-top: 35px;
            padding-bottom: 35px;
            padding-left: 20px;
            padding-right: 20px;
        }
        &:nth-child(1) {
            background-image: linear-gradient(to right top, #0e0f1293),
            url(../img/choise1.png);
            background-size: cover;
            @media (max-width: 852px) {
                margin-bottom: 30px;
            }
        }
        &:nth-child(2) {
            background-image: linear-gradient(to right top, #0e0f1293),
            url(../img/choise2.png);
            background-size: cover;
        }
        &:nth-child(3) {
            background-image: linear-gradient(to right top, #0e0f1293),
            url(../img/choise3.png);
            background-size: cover;
            @media (max-width: 1170px) {
                margin-top: 30px;
            }
        }
        &__lending {
            height: 105px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            max-width: 262px;
            color: $ColorTitleChoise;
            font-size: 50px;
            line-height: 48px;
            @media(max-width: 1245px) {
                font-size: calc(25px + (50 - 25) * ((100vw - 320px) / (1245 - 320)));
                line-height: calc(25px + (48 - 25) * ((100vw - 320px) / (1245 - 320)));
                height: calc(58px + (105 - 58) * ((100vw - 320px) / (1245 - 320)));
            } 
            & span {
                border-bottom: 2px solid $ColorBorderBottomTitleChoise;
            }
        }
    }
}

.button-choise {
    padding-top: 45px;
    font-size: 17px;
    @include flex($jc: space-between, $ai: center, $fd: row);
    @media(max-width: 360px) {
        max-width: 250px;
    }
    &__img {
        max-width: 35px;
        max-height: 35px;
    }
    &__price {
        &_blue {
            width: 200px;
            height: 56px;
            border: 2px solid #ffffff;
            color: $ColorPriceChoise;
            @include flex;
        }
        &_yellow {
            width: 200px;
            height: 56px;
            border: 2px solid #ffffff;
            color: $ColorPriceChoise;
            @include flex;
        }
        &_green {
            width: 200px;
            height: 56px;
            border: 2px solid #ffffff;
            color: $ColorPriceChoise;
            @include flex;
        }
        @media(max-width: 1170px) {
            font-size: calc(16px + (17 - 16) * ((100vw - 320px) / (1245 - 320)));
            width: calc(150px + (200 - 150) * ((100vw - 320px) / (1245 - 320)));
            height: calc(40px + (50 - 40) * ((100vw - 320px) / (1245 - 320)));
        }
    }
}

.choise-item:hover .button-choise__price_blue {
        border: 3px solid #00b9e7;
}

.choise-item:hover .button-choise__price_yellow {
    border: 3px solid #ffcb00;
}

.choise-item:hover .button-choise__price_green {
    border: 3px solid #66bf0d;
}