.developing {
    background: #ffffff;
}

.developing-block {
    position: relative;
    padding-bottom: 140px;
    @media(max-width: 1245px) {
        padding-bottom: calc(30px + (140 - 30) * ((100vw - 320px) / (1245 - 320)));
    }
}

.frame {
    overflow: hidden;
    position: absolute;
    top: -46px;
    left: -200px;
    width: 666px;
    height: 527px;
    background: #f6ae48;
    @media (max-width: 1245px) {
        width: calc(340px + (666 - 340) * ((100vw - 320px) / (1245 - 320)));
        height: calc(220px + (527 - 220) * ((100vw - 320px) / (1245 - 320)));
        left: calc(-44px + (-200 - -44) * ((100vw - 320px) / (1245 - 320)));
        top: calc(-20px + (-46 - -20) * ((100vw - 320px) / (1245 - 320)));
    }
    &__name {
        color: $ColorTitleDevelopingFrame;
        font-size: 50px;
        padding-top: 85px;
        padding-left: 80px;
        letter-spacing: 5px;
        @media (max-width: 1245px) {
            font-size: calc(30px + (50 - 30) * ((100vw - 320px) / (1245 - 320)));
        }
        @media (max-width: 1245px) {
            padding-left: calc(15px + (80 - 15) * ((100vw - 320px) / (1245 - 320)));
        }
    }
    &__img {
    &_first {
        position: absolute;
        top: 10px;
        left: -100px;
    }
    &_second {
        position: absolute;
        top: -35px;
        right: -70px;
    }
    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
    }
}
