.seo-search {
    display: flex;
    justify-content: space-between;
    max-width: 955px;
    margin-top: 176px;
    margin-left: 20px;
    @media(max-width: 900px) {
        margin-top: 90px;
    }
    @media(max-width: 460px) {
        flex-direction: column;
    }
    @media(max-width: 370px) {
        margin-top: 50px;
    }
}

.seo-text {
    max-width: 568px;
    @include flex($jc: space-evenly, $ai: flex-start, $fd: column);
    @media(max-width: 770px) {
        justify-content: center;
    }
    &__title {
        font-weight: bold;
        font-size: 36px;
        z-index: 10;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        @media(max-width: 770px) {
            font-size: 26px;
        }
        @media(max-width: 600px) {
            font-size: 20px;
            white-space: nowrap;
        }
    }
    &__back-title {
        position: absolute;
        font-size: 80px;
        font-weight: bold;
        color: #cfcfcf;
        white-space: nowrap;
        z-index: -1;
        line-height: 1;
        @media(max-width: 830px) {
            font-size: 70px;
        }
        @media(max-width: 770px) {
            font-size: 45px;
        }
        @media(max-width: 600px) {
            font-size: 35px;
        }
    }
    &__text {
        font-size: 24px;
        line-height: 48px;
        @media(max-width: 770px) {
            line-height: 25px;
            font-size: 20px;
            margin-top: 20px;
        }
        @media(max-width: 600px) {
            line-height: 20px;
            font-size: 16px;
        }
        @media(max-width: 370px) {
            line-height: 16px;
        }
    }
}

.seo-img {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 20px;
    & img {
        @media(max-width: 770px) {
           width: 100px;
        }
    }
    @media(max-width: 770px) {
        justify-content: space-around;
    }
    @media(max-width: 460px) {
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 20px;
    }
}
