.hero {
    background: silver;
    background-image: linear-gradient(129deg, rgba(48,50,99,0.6730042358740371) 35%, rgba(48,50,99,1) 100%),
    url(../img/hero-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
.hero-block {
    @include flex;
    height: 810px;
    padding: 70px 75px 0;
}

.hero-content {
    @include flex(center, center, column);
    &__title {
        margin-bottom: 25px;
    }
    &__descr {
        max-width: 835px;
        text-align: center;
        margin-bottom: 55px;
        color: white;
        line-height: 36px;
    }
}
