.hero {
    background: silver;
    background-image: linear-gradient(129deg, rgba(48,50,99,0.6730042358740371) 35%, rgba(48,50,99,1) 100%),
    url(../img/hero-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
.hero-block {
    @include flex;
    height: 810px;
    @media (max-width: 750px) {
        font-size: 20px;
    }
    @media (max-width: 530px) {
        font-size: 16px;
    }
}

.hero-content {
    @include flex(center, center, column);
    &__title {
        padding: 0 20px;
        margin-bottom: 25px;
        @include for-tablet {
            margin-bottom: 0px;
            line-height: 40px;
        }
    }
    &__descr {
        overflow: hidden;
        padding: 0 20px;
        max-height: 210px;
        max-width: 835px;
        text-align: center;
        margin-bottom: 55px;
        color: white;
        line-height: 36px;
        @include for-tablet {
            margin-bottom: 20px;
        }
    }
}
