.developing {
    background: #ffffff;
}

.developing-block {
    position: relative;
    height: 1300px;
}

.frame {
    overflow: hidden;
    position: absolute;
    top: -46px;
    left: -170px;
    width: 666px;
    height: 527px;
    background: #f6ae48;
    &__name {
        font-size: 50px;
        padding-top: 85px;
    }
    &__img {
    &_first {
        position: absolute;
        top: 10px;
        left: -100px;
    }
    &_second {
        position: absolute;
        top: -35px;
        right: -70px;
    }
    }
}
