.developing {
    background: #ffffff;
}

.developing-block {
    position: relative;
    height: 1300px;
}

.frame {
    overflow: hidden;
    position: absolute;
    top: -46px;
    left: -170px;
    width: 666px;
    height: 527px;
    background: #f6ae48;
    @media(max-width: 1170px) {
        top: -20px;
        left: -122px;
    }
    @media(max-width: 740px) {
        width: 589px;
        height: 390px;
    }
    @media(max-width: 485px) {
        width: 589px;
        height: 390px;
    }
    @media(max-width: 490px) {
        width: 540px;
        height: 372px;
        left: -98px;
    }
    @media(max-width: 360px) {
        left: -111px;
    }
    &__name {
        font-size: 50px;
        padding-top: 85px;
        padding-left: 80px;
        letter-spacing: 5px;
        @media(max-width: 430px) {
            font-size: 35px;
            padding-left: inherit;
        }
    }
    &__img {
    &_first {
        position: absolute;
        top: 10px;
        left: -100px;
    }
    &_second {
        position: absolute;
        top: -35px;
        right: -70px;
    }
    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
    }
}
