.communication {
    background-image: linear-gradient(129deg, rgba(48,50,99,0.6730042358740371) 35%, rgba(48,50,99,1) 100%),
    url(../img/backcommuniti.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    &-section {
        @include flex($jc: space-between, $ai: center, $fd: row);
        padding-bottom: 121px;
        padding-top: 121px;
        padding-left: 20px;
        padding-right: 20px;
        @media (max-width: 1245px) {
            padding-top: calc(30px + (121 - 30) * ((100vw - 320px) / (1245 - 320)));
            padding-bottom: calc(30px + (121 - 30) * ((100vw - 320px) / (1245 - 320)));
        }
        @media (max-width: 1050px) {
            flex-direction: column;
            padding: 20px 0;
            height: auto;
        }
    }
}

.reverse {
    width: 360px;
    height: 325px;
    color: $TitleandDescrColorComunicate;
    @media (max-width: 1050px) {
        width: 615px;
        height: auto;
        padding-bottom: 40px;
    }
    @media (max-width: 750px) {
        width: 100%;
        padding: 0 20px;
        padding-bottom: 40px;
    }
    &__title {
        overflow: hidden;
        max-width: 360px;
        white-space: nowrap;
        font-size: 30px;
        line-height: 1;
        padding-bottom: 50px;
        @media (max-width: 1245px) {
            padding-bottom: calc(20px + (50 - 20) * ((100vw - 320px) / (1245 - 320)));
            font-size: calc(22px + (30 - 22) * ((100vw - 320px) / (1245 - 320)));
        }
    }
    &__text {
        overflow: hidden;
        max-height: 162px;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0;
        @media (max-width: 1245px) {
            line-height: calc(20px + (27 - 20) * ((100vw - 320px) / (1245 - 320)));
            font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1245 - 320)));
        }
    }
}

.reverse-forms {
    color: $FormColorComunicate;
    @media (max-width: 750px) {
        width: 100%;
        padding: 0 20px;
    }
}

.enter-info {
    @media (max-width: 680px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
}

.forms-main {
    border: 5px solid $FormBorderColorComunicate;
    width: 615px;
    height: 267px;
    font-size: 18px;
    @media (max-width: 750px) {
        width: 100%;
        border: 3px solid $FormBorderColorComunicate;
    }
    @media (max-width: 680px) {
        font-size: 13px;
    }
}
.header-form {
    @include flex;
    &__name {
        width: 50%;
        height: 40px;
        @include flex;
        border-right: 5px solid $FormBorderColorComunicate;
        border-bottom: 5px solid $FormBorderColorComunicate;
        @media (max-width: 750px) {
            border-right: 3px solid $FormBorderColorComunicate;
            border-bottom: 3px solid $FormBorderColorComunicate;
        }
        & input {
            margin-left: 5px;
            width: 100%;
            border: none;
            background: #686c8c00;
            color: $TextFormColor;
            font-size: 18px;
            outline: none;
            &::placeholder {
                color: #ffffff;
            }
            @media(max-width: 500px) {
                font-size: 16px;
            }
        }
    }
    &__surname {
        width: 100%;
        height: 40px;
        @include flex;
        border-bottom: 5px solid $FormBorderColorComunicate;
        @media (max-width: 750px) {
            border-bottom: 3px solid $FormBorderColorComunicate;
        }
        & input {
            margin-left: 5px;
            width: 100%;
            border: none;
            background: #686c8c00;
            color: $TextFormColor;
            font-size: 18px;
            outline: none;
            &::placeholder {
                color: #ffffff;
            }
            @media(max-width: 500px) {
                font-size: 16px;
            }
        }
    }
}

.hero-form {
    @include flex ($jc: center, $ai: center, $fd: column);
    &__email {
        color: $TextFormColor;
        @include flex($jc: center, $ai: center, $fd: row);
        width: 100%;
        height: 51px;
        border-bottom: 5px solid $FormBorderColorComunicate;
        @media (max-width: 750px) {
            border-bottom: 3px solid $FormBorderColorComunicate;
        }
        & input {
            margin-left: 5px;
            width: 100%;
            border: none;
            background: #686c8c00;
            color: $TextFormColor;
            font-size: 18px;
            outline: none;
            &::placeholder {
                color: #ffffff;
            }
        }
    }
    &__message {
        padding-left: 5px;
        width: 100%;
        & textarea {
            height: 140px;
            width: 100%;
            resize: none;
            border: none;
            background: #686c8c00;
            color: $TextFormColor;
            font-size: 18px;
            outline: none;
            &::placeholder {
                color: #ffffff;
            }
        }
    }
}

.footer-form {
    @include flex($jc: space-between, $ai: flex-start, $fd: row);
    height: 58px;
    @media (max-width: 750px) {
        width: 100%;
    }
    &__text {
        letter-spacing: 0;
        font-size: 14px;
        line-height: 24px;
        color: $TextFormColor;
        padding-top: 14px;
        padding-left: 24px;
        line-height: 1;
        @media (max-width: 750px) {
            padding-left: 0;
        }
    }
    &__button {
        border-radius: 10px;
        border: solid #f6ae48;
        background: #f6ae48;
        height: 45px;
        margin-top: 14px;
        width: 144px;
        font-size: 14px;
        color: $TextFormColor;
        cursor: pointer;
        &:hover {
            background: #dc8c1b;
        }
        @media (max-width: 750px) {
            padding: 10px;
        }
    }
}